/*========================= Página de Cadastro ====================================*/

/*Seletor Universal - seleciona todos os elementos da página e aplica estilos comuns padronizados*/
*{
    margin: 0; /*remove a margem padrão de todos os elementos*/
    padding: 0; /*remove o padding de todos os elementos*/
    box-sizing: border-box; /*inclui bordas e preenchimentos no calculo da largura e altura dos elementos*/
}

body{
    font-family:Arial, sans-serif; /*Define a fonte da página como Arial, com uma alternativa de sans-serif*/
    background-color: #FFFFFF; /*Define a cor de fund do body / corpo do html*/
}

header{ /*Estilo do cabeçalho*/
    background-color: #FF0000; /*  Cor de fundo em hexadecimal*/
    padding: 0px; 
}

body header button{ /* Botão home */
    right: 20px; /*Alinha o botão á direita, com 20px de ditância da borda direita da página */
    top: 32px; /*Alinha o botão ao topo, com 20px de distância da borda superior*/
    position: absolute; /*Posiciona o botão de forma absoluta com relação ao cabeçalho*/
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 25px; /*Define o espaço interno do botão em 10px (vertical) e 20px (horizontal)*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    border: none; /*Remove a borda padrão do botão*/
    cursor: pointer; /*Define o cursor como um ponteiro ao passar sobre o botão*/
}

header section{
    background-color: #FF0000; /*Cor de fundo em hexadecimal*/
    padding: 3px; 
}

header section img{ /* Logo do Senai */
    display: block; /* Necessário para que as margens funcionem */
    margin: 0 auto;
    max-width: 400px; /*Define a largura máxima das imagens dentro da main como 150px*/
    margin-top: 10px;
}

footer{ /* Rodapé */
    background-color: #FF0000;
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center; /*Alinha o texto do rodapé ao centro*/
    bottom:0; /*Alinha o rodapé abaixo da página*/
    position: absolute; /*Posiciona o rodapé de forma absoluta em relação ao body*/
    width: 100%; /*Define a largura do rodapé como 100% da janela de visualização*/
}

body h3{
    text-align: center; /*Alinha o texto do rodapé ao centro*/
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.bloco_centro{ /* bloco com botões do centro */
    background-color: white; /* Cor de fundo do bloco */
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Centraliza o texto */
}

.botões{
    font-weight: bold;
    margin-top: -25px; /* Espaçamento entre o título e os botões */
    color: #ffffff;
    padding: 5px 5px; /*Define o espaço interno do botão em 10px (vertical) e 20px (horizontal)*/
    border-radius: 30px; /*Arredonda os cantos do botão*/
    border: none;
    background-color: rgb(255, 0, 0);
    max-width: 800px;
    width: 325px;
    text-align: center; /* Centraliza o texto */
    margin: auto;
}

.input-box{
    background-color: rgb(255, 255, 255); /* Cor de fundo do bloco */
    padding: 15px 25px; /*Define o espaço interno do botão em 10px (vertical) e 20px (horizontal)*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    border: none;
    margin-top: 15px; /* Espaçamento entre o título e os botões */
    font-weight: bold;
    color: #ff0000;
}